## 2024 Precinct Map and Data Cleaning
Baltimore City, Baltimore County, Anne Arundel, and Howard County

In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np

## Join on Name

In [8]:
coverage = pd.read_csv('data/coverage_area_results_2024.csv')
shapefile = gpd.read_file('assets/precincts/precinct_simplified.geojson')

In [22]:
shapefile.head()

,OBJECTID,COUNTY,GIS_SRC,JURSCODE,COUNTYNAME,NAME,VTD,LABEL,DATE_AGGRE,AGG_SRC,SRC_DATE,Shape_Leng,Shape_Area,geometry
0,6033,24001,Election Precincts 220412.shp,ALLE,Allegany,Allegany Precinct 29-002,2400129-002,29-002,20230511,MDP_Precincts_2022,20220000,16837.808210,1.164278e+07,"POLYGON ((-78.81328 39.6462, -78.81159 39.6491..."
1,6034,24001,Election Precincts 220412.shp,ALLE,Allegany,Allegany Precinct 06-006,2400106-006,06-006,20230511,MDP_Precincts_2022,20220000,20732.369186,1.482178e+07,"POLYGON ((-78.79713 39.64176, -78.80081 39.644..."
2,6035,24001,Election Precincts 220412.shp,ALLE,Allegany,Allegany Precinct 29-001,2400129-001,29-001,20230511,MDP_Precincts_2022,20220000,34451.903222,3.480975e+07,"POLYGON ((-78.78526 39.66877, -78.78528 39.669..."
3,6036,24001,Election Precincts 220412.shp,ALLE,Allegany,Allegany Precinct 20-000,2400120-000,20-000,20230511,MDP_Precincts_2022,20220000,35978.828488,4.879708e+07,"POLYGON ((-78.74278 39.7229, -78.7652 39.72283..."
4,6037,24001,Election Precincts 220412.shp,ALLE,Allegany,Allegany Precinct 14-000,2400114-000,14-000,20230511,MDP_Precincts_2022,20220000,7053.225027,1.158874e+06,"POLYGON ((-78.76857 39.65935, -78.76917 39.658..."

In [23]:
coverage.head()

,name,prec_name,sum_trump,pct_trump,sum_harris,pct_harris,sum_other,pct_other,prec_sum,leader,number,vtd_join,county,countyname,label,new_geo
0,Allegany Precinct 01-000,100,420,84.34,72,14.46,6,1.20,498,Trump,1,100,24001,Allegany,01-000,"list(list(c(-78.3984259352467, -78.39789990095..."
1,Allegany Precinct 02-000,200,463,83.27,82,14.75,11,1.98,556,Trump,1,200,24001,Allegany,02-000,"list(list(c(-78.5882989477898, -78.58687489635..."
2,Allegany Precinct 03-000,300,478,84.01,83,14.59,8,1.41,569,Trump,1,300,24001,Allegany,03-000,"list(list(c(-78.4851743902231, -78.48445634462..."
3,Allegany Precinct 06-005,605,980,50.13,923,47.21,52,2.66,1955,Trump,1,605,24001,Allegany,06-005,"list(list(c(-78.7886894140086, -78.79055533260..."
4,Allegany Precinct 06-006,606,664,68.74,282,29.19,20,2.07,966,Trump,1,606,24001,Allegany,06-006,"list(list(c(-78.7918272760886, -78.79084731930..."

In [26]:
# drop columns in coverage
# test = coverage
# test.drop(columns=['prec_name', 'number', 'vtd_join', 'county', 'countyname', 'label', 'new_geo'], inplace=True)
test.head()

,name,sum_trump,pct_trump,sum_harris,pct_harris,sum_other,pct_other,prec_sum,leader
0,Allegany Precinct 01-000,420,84.34,72,14.46,6,1.20,498,Trump
1,Allegany Precinct 02-000,463,83.27,82,14.75,11,1.98,556,Trump
2,Allegany Precinct 03-000,478,84.01,83,14.59,8,1.41,569,Trump
3,Allegany Precinct 06-005,980,50.13,923,47.21,52,2.66,1955,Trump
4,Allegany Precinct 06-006,664,68.74,282,29.19,20,2.07,966,Trump

In [28]:
# concatenate the two dataframes
merged = pd.merge(test, shapefile, left_on='name', right_on='NAME', how='left')

In [32]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        1949 non-null   object
 1   sum_trump   1949 non-null   int64
 2   pct_trump   1947 non-null   float64
 3   sum_harris  1949 non-null   int64
 4   pct_harris  1947 non-null   float64
 5   sum_other   1949 non-null   int64
 6   pct_other   1947 non-null   float64
 7   prec_sum    1949 non-null   int64
 8   leader      1949 non-null   object
 9   OBJECTID    1948 non-null   float64
 10  COUNTY      1948 non-null   object
 11  GIS_SRC     1948 non-null   object
 12  JURSCODE    1948 non-null   object
 13  COUNTYNAME  1948 non-null   object
 14  NAME        1948 non-null   object
 15  VTD         1935 non-null   object
 16  LABEL       1948 non-null   object
 17  DATE_AGGRE  1948 non-null   object
 18  AGG_SRC     1948 non-null   object
 19  SRC_DATE    1948 non-null   object
 20  Shape_Leng  1948 non-null   float64
 21  Shape_Area  1948 non-null   float64
 22  geometry    1948 non-null   geometry
dtypes: float64(6), geometry(1), int64(4), object(12)
memory usage: 350.3+ KB

In [33]:
merged.drop(columns=['NAME'], inplace=True)

In [36]:
# save merged as a geojson

gdf = gpd.GeoDataFrame(merged, geometry='geometry')
gdf.to_file('data/coverage_area_results_2024.geojson', driver='GeoJSON')

## Join on Label

In [40]:
coverage = pd.read_csv('data/coverage_area_results_2024.csv')
shapefile = gpd.read_file('assets/precincts/precinct_simplified.geojson')

In [41]:
label_join = pd.merge(coverage, shapefile, left_on='label', right_on='LABEL', how='left')

In [42]:
label_join.head()

,name,prec_name,sum_trump,pct_trump,sum_harris,pct_harris,sum_other,pct_other,prec_sum,leader,...,COUNTYNAME,NAME,VTD,LABEL,DATE_AGGRE,AGG_SRC,SRC_DATE,Shape_Leng,Shape_Area,geometry
0,Allegany Precinct 01-000,100,420,84.34,72,14.46,6,1.20,498,Trump,...,Allegany,Allegany Precinct 01-000,2400101-000,01-000,20230511,MDP_Precincts_2022,20220000,96048.105824,2.094677e+08,"POLYGON ((-78.42069 39.60317, -78.42316 39.605..."
1,Allegany Precinct 01-000,100,420,84.34,72,14.46,6,1.20,498,Trump,...,Washington,Washington Precinct 01-000,2404301-000,01-000,20230511,MDP_Precincts_2022,20220000,55243.055022,1.039284e+08,"POLYGON ((-77.69803 39.44442, -77.70002 39.444..."
2,Allegany Precinct 02-000,200,463,83.27,82,14.75,11,1.98,556,Trump,...,Allegany,Allegany Precinct 02-000,2400102-000,02-000,20230511,MDP_Precincts_2022,20220000,96859.692620,2.730195e+08,"POLYGON ((-78.49671 39.60394, -78.49969 39.604..."
3,Allegany Precinct 03-000,300,478,84.01,83,14.59,8,1.41,569,Trump,...,Allegany,Allegany Precinct 03-000,2400103-000,03-000,20230511,MDP_Precincts_2022,20220000,86855.346076,2.948935e+08,"POLYGON ((-78.42549 39.72248, -78.4391 39.7223..."
4,Allegany Precinct 06-005,605,980,50.13,923,47.21,52,2.66,1955,Trump,...,Allegany,Allegany Precinct 06-005,2400106-005,06-005,20230511,MDP_Precincts_2022,20220000,15572.851292,4.167351e+06,"POLYGON ((-78.80536 39.64099, -78.80529 39.641..."

In [46]:
# remove duplicate columns
label_join.drop(columns=['prec_name', 'number', 'vtd_join', 'county', 'countyname', 'label', 'new_geo'], inplace=True)

KeyError: "['prec_name', 'number', 'vtd_join', 'county', 'countyname', 'label', 'new_geo'] not found in axis"

In [47]:
label_join.head()

,name,sum_trump,pct_trump,sum_harris,pct_harris,sum_other,pct_other,prec_sum,leader,OBJECTID,...,COUNTYNAME,NAME,VTD,LABEL,DATE_AGGRE,AGG_SRC,SRC_DATE,Shape_Leng,Shape_Area,geometry
0,Allegany Precinct 01-000,420,84.34,72,14.46,6,1.20,498,Trump,6044,...,Allegany,Allegany Precinct 01-000,2400101-000,01-000,20230511,MDP_Precincts_2022,20220000,96048.105824,2.094677e+08,"POLYGON ((-78.42069 39.60317, -78.42316 39.605..."
1,Allegany Precinct 01-000,420,84.34,72,14.46,6,1.20,498,Trump,7765,...,Washington,Washington Precinct 01-000,2404301-000,01-000,20230511,MDP_Precincts_2022,20220000,55243.055022,1.039284e+08,"POLYGON ((-77.69803 39.44442, -77.70002 39.444..."
2,Allegany Precinct 02-000,463,83.27,82,14.75,11,1.98,556,Trump,6042,...,Allegany,Allegany Precinct 02-000,2400102-000,02-000,20230511,MDP_Precincts_2022,20220000,96859.692620,2.730195e+08,"POLYGON ((-78.49671 39.60394, -78.49969 39.604..."
3,Allegany Precinct 03-000,478,84.01,83,14.59,8,1.41,569,Trump,6043,...,Allegany,Allegany Precinct 03-000,2400103-000,03-000,20230511,MDP_Precincts_2022,20220000,86855.346076,2.948935e+08,"POLYGON ((-78.42549 39.72248, -78.4391 39.7223..."
4,Allegany Precinct 06-005,980,50.13,923,47.21,52,2.66,1955,Trump,6061,...,Allegany,Allegany Precinct 06-005,2400106-005,06-005,20230511,MDP_Precincts_2022,20220000,15572.851292,4.167351e+06,"POLYGON ((-78.80536 39.64099, -78.80529 39.641..."

In [48]:
# save as a geojson
gdf = gpd.GeoDataFrame(label_join, geometry='geometry')
gdf.to_file('data/coverage_area_results_2024_v2.geojson', driver='GeoJSON')